{% extends 'index.html' %}
{% load static %}
{% block titulo %}
INCOLARA -- Configuracion de Cuenta
{% endblock %}


{% block cuerpo %}
{% include 'Base/submenu.html' %}
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Configurar Cuenta</strong> <small>Introduzca informacion acerca de su empresa</small>
                            </div>
                            <div class="card-body card-block">
                                <form method="post" class="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                      <div class="form-group">
                                        <label class=" form-control-label">Nombre de la Compania</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-building-o"></i></div>
                                            {{ form.first_name }}
                                        </div>
                                        <small class="form-text text-muted">ej. Industria C.A</small>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">Domicilio de la Compania</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                            {{ form.domicilio }}
                                        </div>
                                        <small class="form-text text-muted">ej. Av Lara con Calle 13</small>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">Registro de Informacion Fiscal</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-building-o"></i></div>
                                            {{ form.rif }}
                                        </div>
                                        <small class="form-text text-muted">ej. J-0000012-34 </small>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">Telefono Movil</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-mobile-phone"></i></div>
                                            {{ form.movil }}
                                        </div>
                                        <small class="form-text text-muted">ej. (0412)-9999999</small>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">Telefono Fijo</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                            {{ form.local }}
                                        </div>
                                        <small class="form-text text-muted">ej. (0200)-9999999</small>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">Correo Electronico</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                            {{ form.email }}
                                        </div>
                                        <small class="form-text text-muted">ej. micorreo@empresa.com</small>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">Pagina Web</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-external-link"></i></div>
                                            {{ form.pagina }}
                                        </div>
                                        <small class="form-text text-muted">ej. http://www.miempresa.com </small>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">Sector</label>
                                        <div class="input-group">
                                            {{ form.sector }}
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class=" form-control-label">Logo</label>
                                        <div class="form-control">
                                            {{ form.logo }}

                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-outline-danger float-right" value="Guardar Cambios"></input>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/lib/chosen/chosen.jquery.min.js' %}"></script>
<script>
    jQuery(document).ready(function() {
        jQuery(".standardSelect").chosen({
            disable_search_threshold: 10,
            no_results_text: "Oops, nothing found!",
            width: "100%"
        });
    });
</script>

{% endblock extrajs %}