<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>{% block  subtitulo %}
                        Configuracion
                        {% endblock%}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            {% block submenu %}
                                <li><a href="{% url 'Base:mi_cuenta' request.user.id %}">Mi Cuenta</a></li>
                            {% endblock %} 
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>