{% extends 'index.html' %}
{% load static %}


{% block cuerpo %}
{% include 'Inventario/submenu.html' %}
<div class="content">
	<div class="card">
        <div class="card-header">
            <strong class="card-title">Producto:</strong> {{ Producto.nombre_producto }}
        </div>
        <div class="card-body">
            <div class="form-group">
            	<label class=" form-control-label">Nombre del Producto</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-building-o"></i></div>
                    {{ Producto.nombre_producto }}
                </div>
            </div>
            <div class="form-group">
                <label class=" form-control-label">Precio del Producto</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                    {{ Producto.precio_venta }}
                </div>
            </div>
            <div class="form-group">
                <label class=" form-control-label">Codigo de Barra</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-building-o"></i></div>
                    {% if Producto.codigo_barras == None %}
                    	 No posee
                    {% else %}
                    	{{ Producto.codigo_barras }}
                    {% endif %}               	
                </div>
            </div>
            <div class="form-group">
                <label class=" form-control-label">Coste del Producto</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-mobile-phone"></i></div>
                    {{ Producto.coste }}
                </div>
            </div>
            <div class="form-group">
                <label class=" form-control-label">Peso</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                    {{ Producto.peso }}
                </div>
            </div>
            <div class="form-group">
                <label class=" form-control-label">Correo Electronico</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                    {{ Producto.volumen }}
                </div>
            </div>
            <div class="form-group">
                <label class=" form-control-label">Descripcion</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-external-link"></i></div>
                    {{ Producto.descripcion }}
                </div>
            </div>
            {% if Producto.foto %}
            <div class="form-group">
                <label class=" form-control-label">Foto</label>
                <div class="input-group">
                    {{ Producto.foto.url }}
                </div>
            </div>
           	{% endif %}
            <div class="form-group">
                <label class=" form-control-label">Cantidad</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-external-link"></i></div>
                    {{ Producto.cantidad }}
                </div>
            </div>
             <div class="form-group">
                <label class=" form-control-label">Capacidad de Produccion</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-external-link"></i></div>
                    {{ Producto.capacidad }}
                </div>
            </div>
            <div class="form-group">
                <label class=" form-control-label">Fecha de Caducidad</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-external-link"></i></div>
                    {{ Producto.caducidad }}
                </div>
            </div>
    	</div>
    </div>
</div>
{% endblock %}