{% extends 'index.html' %}

 <title>{% block titulo %}INCOLARA -- Inicio de Session{% endblock titulo %}</title>
{% block menu%}
{% endblock %}
{% block cuerpo %}
<div class="card">
	<div class="card-header">
	    <strong>Inicio de Session</strong>
	</div>
	<div class="card-body card-block">
	    <form action="#" method="post" class="form-horizontal">
	    	{% csrf_token %}
	        <div class="row form-group">
	            <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Usuario</label></div>
	            <div class="col-12 col-md-9">{{ form.username }}<span class="help-block">Por favor introduzca su nombre de usuario</span></div>
	        </div>
	        <div class="row form-group">
	            <div class="col col-md-3"><label for="hf-password" class=" form-control-label">Contraseña</label></div>
	            <div class="col-12 col-md-9">{{ form.password }}<span class="help-block">Por favor introduzca su contraseña</span></div>
	        </div>
	        <div class="card-footer">
			    <button type="submit" class="btn btn-primary btn-sm">
			        <i class="fa fa-dot-circle-o"></i> Iniciar
			    </button>
			    <button type="reset" class="btn btn-danger btn-sm">
			        <i class="fa fa-ban"></i> Limpiar
			    </button>
			</div>
	    </form>
	</div>
	
</div>
{% endblock %}
